In [76]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

In [92]:
# Load the dataset
df = pd.read_csv("Decision-Tree/cleaned_dataset.csv")

In [93]:
df

,sessionId,kwhTotal,dollars,created,ended,startTime,endTime,chargeTimeHrs,weekday,platform,...,facilityType,Mon,Tues,Wed,Thurs,Fri,Sat,Sun,reportedZip,FalseDataInjection
0,7093670,5.61,0.0,0014-11-18 15:01:17,0014-11-18 18:26:04,15,18,3.413056,Tue,ios,...,3,0,1,0,0,0,0,0,1,1
1,3730551,9.03,0.0,0014-11-19 19:01:41,0014-11-19 22:10:06,19,22,3.140278,Wed,ios,...,3,0,0,1,0,0,0,0,1,1
2,7080329,6.95,0.0,0014-11-20 19:20:45,0014-11-20 21:48:04,19,21,2.455278,Thu,ios,...,3,0,0,0,1,0,0,0,1,1
3,3829635,7.38,0.0,0014-11-21 19:02:04,0014-11-21 21:31:03,19,21,2.483056,Fri,ios,...,3,0,0,0,0,1,0,0,1,1
4,6139758,6.69,0.0,0014-11-24 17:16:19,0014-11-24 19:31:04,17,19,2.245833,Mon,ios,...,3,1,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2325,7021565,6.74,0.0,0015-10-01 16:31:18,0015-10-01 19:59:08,16,19,3.463889,Thu,ios,...,2,0,0,0,1,0,0,0,1,1
2326,3758092,6.86,0.0,0015-10-02 16:28:48,0015-10-02 19:27:05,16,19,2.971389,Fri,ios,...,2,0,0,0,0,1,0,0,1,0
2327,5858374,6.07,0.0,0015-09-30 16:54:22,0015-09-30 20:24:06,16,20,3.495556,Wed,android,...,3,0,0,1,0,0,0,0,1,1
2328,2586645,5.74,0.0,0015-09-24 11:43:02,0015-09-24 13:55:12,11,13,2.202778,Thu,ios,...,2,0,0,0,1,0,0,0,1,0
2329,7860608,6.95,0.0,0015-10-01 16:43:05,0015-10-01 19:42:06,16,19,2.983611,Thu,ios,...,3,0,0,0,1,0,0,0,1,1

In [94]:
# Check minimum allowable date range
print(pd.Timestamp.min)

1677-09-21 00:12:43.145224193

In [95]:
import pandas as pd

# Set the minimum and maximum date range for pandas datetime objects
MIN_DATE = pd.Timestamp(year=1877, month=9, day=21, hour=0, minute=0, second=0)
MAX_DATE = pd.Timestamp(year=2262, month=4, day=11, hour=23, minute=47, second=16, microsecond=854775)

# Convert the "created" column to datetime format
df["created"] = pd.to_datetime(df["created"], format="%Y-%m-%d %H:%M:%S", errors="coerce")

# Set datetime values outside the valid range to NaT (Not a Time)
df.loc[(df["created"] < MIN_DATE) | (df["created"] > MAX_DATE), "created"] = pd.NaT

# Extract the number of seconds since the epoch (January 1, 1970)
df["created_seconds"] = df["created"].astype(int) // 10**9

# Create a new column called "created_time"
df["created_time"] = pd.to_datetime(df["created_seconds"])

# Drop the original created column
df.drop("created", axis=1, inplace=True)

In [96]:
df

,sessionId,kwhTotal,dollars,ended,startTime,endTime,chargeTimeHrs,weekday,platform,distance,...,Tues,Wed,Thurs,Fri,Sat,Sun,reportedZip,FalseDataInjection,created_seconds,created_time
0,7093670,5.61,0.0,0014-11-18 18:26:04,15,18,3.413056,Tue,ios,20.695727,...,1,0,0,0,0,0,1,1,-9223372037,1969-12-31 23:59:50.776627963
1,3730551,9.03,0.0,0014-11-19 22:10:06,19,22,3.140278,Wed,ios,20.695727,...,0,1,0,0,0,0,1,1,-9223372037,1969-12-31 23:59:50.776627963
2,7080329,6.95,0.0,0014-11-20 21:48:04,19,21,2.455278,Thu,ios,20.695727,...,0,0,1,0,0,0,1,1,-9223372037,1969-12-31 23:59:50.776627963
3,3829635,7.38,0.0,0014-11-21 21:31:03,19,21,2.483056,Fri,ios,20.695727,...,0,0,0,1,0,0,1,1,-9223372037,1969-12-31 23:59:50.776627963
4,6139758,6.69,0.0,0014-11-24 19:31:04,17,19,2.245833,Mon,ios,20.695727,...,0,0,0,0,0,0,1,1,-9223372037,1969-12-31 23:59:50.776627963
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2325,7021565,6.74,0.0,0015-10-01 19:59:08,16,19,3.463889,Thu,ios,13.352643,...,0,0,1,0,0,0,1,1,-9223372037,1969-12-31 23:59:50.776627963
2326,3758092,6.86,0.0,0015-10-02 19:27:05,16,19,2.971389,Fri,ios,13.352643,...,0,0,0,1,0,0,1,0,-9223372037,1969-12-31 23:59:50.776627963
2327,5858374,6.07,0.0,0015-09-30 20:24:06,16,20,3.495556,Wed,android,2.337085,...,0,1,0,0,0,0,1,1,-9223372037,1969-12-31 23:59:50.776627963
2328,2586645,5.74,0.0,0015-09-24 13:55:12,11,13,2.202778,Thu,ios,4.671064,...,0,0,1,0,0,0,1,0,-9223372037,1969-12-31 23:59:50.776627963
2329,7860608,6.95,0.0,0015-10-01 19:42:06,16,19,2.983611,Thu,ios,3.308334,...,0,0,1,0,0,0,1,1,-9223372037,1969-12-31 23:59:50.776627963

In [99]:
import pandas as pd

# Set the minimum and maximum date range for pandas datetime objects
MIN_DATE = pd.Timestamp(year=1877, month=9, day=21, hour=0, minute=0, second=0)
MAX_DATE = pd.Timestamp(year=2262, month=4, day=11, hour=23, minute=47, second=16, microsecond=854775)

# Convert the "ended" column to datetime format
df["ended"] = pd.to_datetime(df["ended"], format="%Y-%m-%d %H:%M:%S", errors="coerce")

# Set datetime values outside the valid range to NaT (Not a Time)
df.loc[(df["ended"] < MIN_DATE) | (df["ended"] > MAX_DATE), "ended"] = pd.NaT

# Extract the number of seconds since the epoch (January 1, 1970)
df["ended_seconds"] = df["ended"].astype(int) // 10**9

# Create a new column called "ended_time"
df["ended_time"] = pd.to_datetime(df["ended_seconds"])

# Drop the original ended column
df.drop("ended", axis=1, inplace=True)

In [100]:
df

,sessionId,kwhTotal,dollars,startTime,endTime,chargeTimeHrs,weekday,platform,distance,userId,...,Thurs,Fri,Sat,Sun,reportedZip,FalseDataInjection,created_seconds,created_time,ended_seconds,ended_time
0,7093670,5.61,0.0,15,18,3.413056,Tue,ios,20.695727,30828105,...,0,0,0,0,1,1,-9223372037,1969-12-31 23:59:50.776627963,-9223372037,1969-12-31 23:59:50.776627963
1,3730551,9.03,0.0,19,22,3.140278,Wed,ios,20.695727,30828105,...,0,0,0,0,1,1,-9223372037,1969-12-31 23:59:50.776627963,-9223372037,1969-12-31 23:59:50.776627963
2,7080329,6.95,0.0,19,21,2.455278,Thu,ios,20.695727,30828105,...,1,0,0,0,1,1,-9223372037,1969-12-31 23:59:50.776627963,-9223372037,1969-12-31 23:59:50.776627963
3,3829635,7.38,0.0,19,21,2.483056,Fri,ios,20.695727,30828105,...,0,1,0,0,1,1,-9223372037,1969-12-31 23:59:50.776627963,-9223372037,1969-12-31 23:59:50.776627963
4,6139758,6.69,0.0,17,19,2.245833,Mon,ios,20.695727,30828105,...,0,0,0,0,1,1,-9223372037,1969-12-31 23:59:50.776627963,-9223372037,1969-12-31 23:59:50.776627963
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2325,7021565,6.74,0.0,16,19,3.463889,Thu,ios,13.352643,59574735,...,1,0,0,0,1,1,-9223372037,1969-12-31 23:59:50.776627963,-9223372037,1969-12-31 23:59:50.776627963
2326,3758092,6.86,0.0,16,19,2.971389,Fri,ios,13.352643,59574735,...,0,1,0,0,1,0,-9223372037,1969-12-31 23:59:50.776627963,-9223372037,1969-12-31 23:59:50.776627963
2327,5858374,6.07,0.0,16,20,3.495556,Wed,android,2.337085,32070852,...,0,0,0,0,1,1,-9223372037,1969-12-31 23:59:50.776627963,-9223372037,1969-12-31 23:59:50.776627963
2328,2586645,5.74,0.0,11,13,2.202778,Thu,ios,4.671064,58023207,...,1,0,0,0,1,0,-9223372037,1969-12-31 23:59:50.776627963,-9223372037,1969-12-31 23:59:50.776627963
2329,7860608,6.95,0.0,16,19,2.983611,Thu,ios,3.308334,26098875,...,1,0,0,0,1,1,-9223372037,1969-12-31 23:59:50.776627963,-9223372037,1969-12-31 23:59:50.776627963

In [101]:

# Define the features and target variable
X = df.drop("FalseDataInjection", axis=1)
y = df["FalseDataInjection"]

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train a decision tree classifier
clf = DecisionTreeClassifier(max_depth=5, random_state=42)
clf.fit(X_train, y_train)

# Make predictions on the test set
y_pred = clf.predict(X_test)

# Evaluate the accuracy of the classifier
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

ValueError: could not convert string to float: 'Mon'

In [103]:
print(df['Mon'].dtype)

int64

In [102]:
# Split the dataset into training and testing sets
X = df.drop("FalseDataInjection", axis=1)  # Features
y = df["FalseDataInjection"]  # Target variable
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Identify the relevant features
relevant_features = ["created_time", "sessionId", "locationId"]  # Example only

# Build the decision tree
dt = DecisionTreeClassifier()
dt.fit(X_train[relevant_features], y_train)

# Evaluate the decision tree on the testing set
y_pred = dt.predict(X_test[relevant_features])
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1 score:", f1)

# Use the decision tree to predict new data
new_data = pd.DataFrame({"created": ["2023-03-18 10:00:00"], "sessionId": [12345], "locationId": [67890]})
is_false_data = dt.predict(new_data[relevant_features])
print("Is false data:", is_false_data)

TypeError: The DType <class 'numpy.dtype[datetime64]'> could not be promoted by <class 'numpy.dtype[int64]'>. This means that no common DType exists for the given inputs. For example they cannot be stored in a single array unless the dtype is `object`. The full list of DTypes is: (<class 'numpy.dtype[datetime64]'>, <class 'numpy.dtype[int64]'>, <class 'numpy.dtype[int64]'>)

In [9]:

# Split the dataset into features (X) and target (y)
X = df.drop("FalseDataInjection", axis=1)
y = df["FalseDataInjection"]

# Create a decision tree classifier
dtc = DecisionTreeClassifier()

# Evaluate the decision tree using cross-validation
scores = cross_val_score(dtc, X, y, cv=5)

# Print the mean accuracy and standard deviation of the scores
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

ValueError: Found array with 0 sample(s) (shape=(0,)) while a minimum of 1 is required.

In [10]:
print(df.isna().sum())

sessionId             0.0
kwhTotal              0.0
dollars               0.0
ended                 0.0
startTime             0.0
endTime               0.0
chargeTimeHrs         0.0
weekday               0.0
platform              0.0
distance              0.0
userId                0.0
stationId             0.0
locationId            0.0
managerVehicle        0.0
facilityType          0.0
Mon                   0.0
Tues                  0.0
Wed                   0.0
Thurs                 0.0
Fri                   0.0
Sat                   0.0
Sun                   0.0
reportedZip           0.0
FalseDataInjection    0.0
hour                  0.0
dtype: float64